body {
  background-color: white;
  margin: 0;
  line-height: 1;
}
div.card {
  text-align: center;
  border-color: grey solid 1px;
  width: 15rem;
  height: 25rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px;
  border: 6px;
  border-style: double;
  border-color: rgb(121, 81, 121);
}
.product-image {
  justify-self: center;
  height: 12rem;
  width: auto;
}
.imgonA {
  justify-self: center;
  height: 12rem;
  width: auto;
  margin-left: 50px;
}
img:hover {
  opacity: 2;
}
a {
  color: rgb(224, 93, 159);
  text-decoration: none;
  display: block;
}
div #main-container {
  /* padding: 1rem; */
  width: stretch;
  height: auto;

  opacity: 0.8;
}
/* .navbar {
  width: stretch;
  height: 50px;
  background-color: thistle;
  display: inline-grid;
} */
/* nav a {
  display: block;
  color: rgb(121, 81, 121);
  text-align: center;
  padding: 50px 10px;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
}
nav a:hover {
  color: #29a074;
} */
/* .search {
  float: right;
  padding-right: 20px;
}
.searchBtn {
  float: right;
  padding-right: 20px;
} */

#btnClick {
  padding: 0;
  border: none;
  background: none;
  font-size: 20px;
  height: 30px;
}
/* #searchId:hover {
  background-color:wheat
} */
#searchId {
  width: 150px;
  height: 30px;
  margin-top: 40px;
  border: 0.4em solid rgb(121, 81, 121);
}
/* #searchbar {
  float: right;
  letter-spacing: 0px;
} */
/* nav {
  position: sticky;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  min-height: 8vh;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  background-color: thistle;
  transition: top 500ms ease-in-out;
} */
nav.scroll-up,
nav:focus-within {
  top: 0;
}

nav.scroll-down {
  top: -100%;
}
.links {
  display: flex;
  margin: 0 -1em;
}

/* .links a {
  display: inline-block;
  margin: 0 1em;
} */
/* nav a {
  color: #0f0f0f;
  text-decoration: none;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.2em;
} */
.logo img {
  width: 200px;
  height: 90px;
}
.logo {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.links a {
  display: inline-block;
  margin: 0 1em;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: thistle;
}
/* .nav-links {
  display: flex;
  justify-content: space-around;
  width: 20%;
  float: right;
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 14px;
} */
/* .nav-links li {
  list-style: none;
} */
/* .search-nav {
  display: flex;
  width: 20%;
}

.nav-links a {
  text-decoration: none;
} */
.comment-box {
  display: block;
}
.addCartBtn {
  background-color: #29a074;
  text-shadow: honeydew;
  color: aliceblue;
}
.addCartBtn:hover {
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.1), inset 0 0 1em rgba(0, 0, 0, 0.1);
  background-color: rgb(121, 81, 121);
}
.deleteItem {
  background-color: indianred;
  color: aliceblue;
  height: 30px;
  justify-content: space-around;
  align-items: center;
  border-radius: 12px;
  margin-left: 50px;
}
.placeOrder {
  background-color: rgb(70, 110, 29);
  color: aliceblue;
  height: 30px;
  position: absolute;
  justify-content: space-around;
  align-items: center;
  border-radius: 12px;
}
.cartImage {
  height: 70px;
  width: 70px;
  align-items: center;
  margin-left: 50px;
  border: 3px solid #555;
}
#cart {
  /* margin-top: 5px; */
  font-size: 30px;
  font-weight: bold;
  display: inline-block;
  margin: 0 auto;
  color: #dcfbb4;
  background-color: rgb(121, 81, 121);
  border: 0.4em solid #d4f7da;
  border-radius: 50%;
  transition: all 0.3s;
  box-sizing: border-box;
  width: 4em;
  height: 4em;
  line-height: 3em;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.1), inset 0 0 0 rgba(0, 0, 0, 0.1);
  text-align: center;
}
#cart:hover {
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.1), inset 0 0 1em rgba(0, 0, 0, 0.1);
  background-color: #29a074;
  /* padding: 0;
  border: none;
  background: none;
  width: 45px;
  height: 30px;
  size: 30px; */
}
.cartAppear {
  margin-left: 50px;
}
#price {
  text-shadow: 0 0 2px rgb(121, 81, 121);
}
#additem {
  border: 2px solid #4caf50;
  background-color: rgb(243, 203, 116);
}
.submit-review {
  border: 2px solid rgb(84, 84, 230);
  background-color: darkslategrey;
  color: aliceblue;
}
.backToCart {
  border-radius: 12px;
  height: 30px;
  background-color: rgb(243, 203, 116);
}
#titleId {
  color: purple;
  text-shadow: 2px purple;
  font-size: small;
}
#nameTitle {
  color: purple;
}
